.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    color:white !important;
    border-color: white !important;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: white !important;
    border-color: white !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    background-color: rgba(255,255,255,0.3) !important;
    border-color: white !important;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-hover{
    color: white !important;
    border-color: white !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-color: white !important;
    color: white !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    color: white !important;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
    color: white !important;
}