.MuiTouchRipple-root {
    display:none;
}

.MuiIconButton-root:hover {
    background-color: transparent;
    color: transparent;
}

.CustomButton:hover {
    background-color: transparent !important;
}